body{
    background-image: url("https://cdn.shopify.com/s/files/1/0030/9175/9217/products/PK_811354_PIKACHU_ALARM_CLOCK_ALLUME_F_S.jpg?v=1563955806") !important;
    background-size: cover;
    font-family: 'Odibee Sans', cursive !important;
}
